@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

html {
  font: 2vmax/1 'bungee';
}

body {
  /* z-index: -1; */
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vh;
  min-height: 100vh;
  margin: 0 auto;
}

time {
  display: inline-block;
  font-size: 7rem;
  color: #ffffff;
  text-shadow: 5px 3px 10px #2f5256;
  z-index: 5;
}

@media screen and (max-width: 650px) {
  html {
    font-size: 3vmax;
  }

  time {
    /* width: 90vw; */
    font-size: 3.5rem;
  }

  body {
    background-size:cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
