@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Sans+Mono:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Schoolbell&display=swap");

html,
body {
  font: 2vmax/1 "bungee";
  height: 120vh;
}
a {
  text-decoration: none;
  color: #000;
}
svg {
  height: auto;
  width: 2%;
  position: fixed;
  cursor: pointer;
  box-shadow: 1px 1px 5px #00000025;
  border-radius: 50%;
  padding: 10px;
  bottom: 0;
  z-index: 3;
  background: #fff;
  float: right;
  margin: 10px 10px;
  fill: gold;
  stroke: #666;
}
svg:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
svg:not(:hover) {
  transform: rotate(0deg);
  transition: 0.5s;
}
.github {
  background: #fff;
  margin: 10px 10px;
  margin-left: 95vw;
  margin-right: 5vw;
  fill: #000;
  opacity: 0.5;
}
.github:hover {
  transform: rotate(0);
  opacity: 1;
}
main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  width: 100vw;
  min-height: 80vh;
  margin: 0 auto;
  flex-wrap: wrap;
}
.clock {
  padding: 1rem;
  align-self: center;
  border-radius: 5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: linear-gradient(
    -45deg,
    #ffa63d99,
    #ff3d7799,
    #338aff99,
    #3cf0c599
  );
  animation: bg 10s linear infinite;
  background-size: 600%;
  user-select: none;
  margin-bottom: 400px;
}
/* Animation Keyframes CSS  */
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.clock:hover {
  cursor: pointer;
}
time {
  display: inline-block;
  font-size: 4rem;
  color: rgb(255, 255, 255) !important;
  z-index: 5;
  flex-grow: 1;
  margin: auto 0;
  margin-right: 0;
}
.ampm {
  display: inline-block;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  z-index: 5;
  flex-grow: 1;
  margin: auto 0;
}
.ampm {
  margin-left: 1.7ch;
}
.day {
  padding: 0;
  margin: 0;
  color: #fff;
  text-shadow: 1px 1px 2px #303030;
  margin-left: 5px;
}
time {
  width: 6.5ch;
}
.quote {
  margin-top: 0;
  padding-top: 0;
  font-family: "caveat", cursive;
  position: absolute;
  width: 100vw;
  bottom: 25px;
  margin-bottom: 40px;
  height: 100px;
}
q {
  font-size: 1.5em;
}
q,
cite {
  color: white;
  margin: 0 auto;
  text-shadow: 3px 2px 5px #000;
  display: block;
  text-align: center;
  width: 80vw;
}
cite {
  margin-top: 10px;
  font-size: 1em;
}
.joke-box,
.facts-box {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  text-align: center;
  padding: 0.5rem;
  font-family: "schoolbell", sans-serif;
  background: #fff;
  width: 80vw;
  border-radius: 25px;
  color: #000;
}
.facts-box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
}
.news {
  width: 80vw;
  color: #202020;
  margin: 0 auto;
  font-size: 0.7rem;
}
.news-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 80vw;
  bottom: 140px;
  color: red;
  text-shadow: 2px 2px 2px #20202090;
  margin-bottom: 10px;
  font-size: 30px;
}
.news-box {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  text-align: center;
  background: #ffffff99;
  padding: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.news-box img {
  width: 10rem;
}
.news-box h1 {
  font-size: 0.8rem;
}
.news-box a {
  font-size: 0.5rem;
}
.news-box p {
  font-size: 0.5rem;
  color: #202020;
}
.more_news{
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  padding: 10px 20px;
  font: .5rem system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: red;
}
.timer-clock__button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer-button {
  background: #fff;
  margin-top: 0.6rem;
  font-size: 0.8rem;
  border-style: none;
  border-radius: 2rem;
  padding: 0.3rem;
  width: 110px;
}
.clock-button {
  background: #fff;
  margin-top: 0.6rem;
  font-size: 0.8rem;
  border-style: none;
  border-radius: 2rem;
  padding: 0.3rem;
  width: 110px;
}
.timer-button:hover,
.clock-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #00000080;
  border-radius: 0.25rem;
  transition: 0.3s;
}
.timer-button:not(hover),
.clock-button:not(hover) {
  transition: 0.3s;
}
.hidden {
  display: none;
}
.timer-display {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  width: 80%;
}
.timer-container {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.6);
  padding-top: 0.4rem;
  padding-right: 1rem;
  margin: 0;
  border-radius: 3rem;
  color: white;
  margin-top: -50vh;  
}
.timer-container__countdown {
  height: 15%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.6);
  padding: 0 3rem;
  padding-top: 0.4rem;
  margin: 0;
  border-radius: 3rem;
  font-size: 3rem;
  color: white;
  width: 6ch;
  margin-top: -40vh;
  text-align: center;
  padding-left: 50px;
}
.input {
  appearance: none;
  margin: 0;
  font-size: 3rem;
  background-color: transparent;
  text-align: center;
  border-style: none;
  color: lightgrey;
  font-family: "bungee";
  cursor: pointer;
  outline: none;
}
span {
  cursor: context-menu;
}
.timer-event__buttons {
  margin-top: 3rem;
  border-radius: 9rem;
}
.start {
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.25rem;
  padding: 0.2rem 2rem;
  color: black;
  background-color: rgba(30, 215, 96, 0.7);
  cursor: pointer;
  border-radius: 1rem;
}
.start:hover {
  background-color: rgba(30, 215, 96);
  transition: all 0.5s;
  border-radius: 4rem;
}
.start:not(hover) {
  transition: all 0.5s;
}
.stop {
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.25rem;
  padding: 0.2rem 2rem;
  color: black;
  background-color: rgba(255, 165, 0, 0.7);
  cursor: pointer;
  border-radius: 1rem;
}
.stop:hover {
  background-color: rgba(255, 165, 0);
  transition: all 0.5s;
  border-radius: 4rem;
}
.stop:not(hover) {
  transition: all 0.5s;
}
.hidden {
  display: none;
}
.font-effect-anaglyph {
  letter-spacing: 8px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 650px) {
  html {
    font-size: 3vmax;
  }
  time {
    font-size: 2rem;
  }
  .ampm {
    font-size: 0.75rem;
    margin-left: 5ch;
    margin-right: -1ch;
    padding-right: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw !important;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  q {
    font-size: 0.75em;
  }
  cite {
    font-size: 0.5em;
  }
  .timer-container {
    display: flex;
    height: 20%;
    padding: 0;
    padding-right: 0.5rem;
    margin: 0;
    font-size: 1rem;
    align-items: center;
    align-content: center;
  }
  .start {
    font-size: 25px;
  }
  .input {
    font-size: 2rem;
  }
  .reload {
    margin-left: 5px;
    left: 0 !important;
  }
  .github {
    margin-left: 43vw;
  }
  .facts-box {
    font-size: 15px;
  }
  .quote {
    font-size: 45px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .joke-box {
    padding-top: 10px;
    margin-top: 0;
  }
  .facts-box {
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .news-box {
    margin-top: 15px;
  }
  .news-box img {
    padding-top: 20px;
    padding-bottom: 5px;
  }
  .news-box h1 {
    padding-bottom: 5px;
  }
  .news-box a {
    padding: 10px;
  }
  .clock {
    transition: all 0.3s;
    text-align: center;
    width: 15rem;
  }
  .timer-container__countdown{
    margin-top: -40vh;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 12%;
    padding-top: 0px;
    text-align: center;
  }
  .timer-container.hidden{
    display: none;
  }
  .timer-display{
    height: 80%;
  }
  .stop{
    font-size: 1rem;
  }
}
