p{
    font-family: 'Bungee',cursive;
    font-size: 100px;
    color:white;
    text-shadow: 2px 3px 2px rgb(0, 0, 0);
    vertical-align: center;
    padding-top: 100px;
    padding: center;
    text-align: center;
}
hr{
    width: 35%;
    opacity: 50%;
}
body{
    background:url(4.jpg);
    background-size: 100%;
}
@media screen and (max-width:650px)
   {
        p{
                font-size:75px;
         }
       body{
               background-size:300%;
       }
}
