@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Sans+Mono:wght@600&display=swap');

html {
  font: 2vmax/1 'bungee';
}

body {
  /* z-index: -1; */
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
}

.clock {
  align-self: center;
}

time, .ampm {
  display: inline-block;
  font-size: 4rem;
  color: white;
  text-shadow: 5px 3px 10px #00000075;
  z-index: 5;
  flex-grow: 1;
  margin: auto 0;
}

time {
  width: 6ch;
}

.ampm {
  margin-left: 1ch;
}

.quote {
  position: absolute;
  width: 100vw;
  bottom: 10px;
  font-size: 1em;
}

q, cite {
  color: white;
  margin: 0 auto;
  text-shadow: 5px 3px 10px #00000075;
  display:block;
  text-align: center;
  width: 75vw;
}

cite {
  margin-top: 10px;
  font-size: 0.75em;
}



@media screen and (max-width: 650px) {
  html {
    font-size: 3vmax;
  }

  time, .ampm {
    font-size: 2rem;
  }

  body {
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  q {
    font-size: 0.75em;
  }

  cite {
    font-size: 0.5em;
  }
}
